.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 0rem;
    background-color: var(--color-bg);
    font-size: 1.4rem;
    background-color: whitesmoke ;
    
  }
  .navbar[data-layout="container"] {
    display: block;
    padding: 0;
  }
  .navbar[data-layout="inner"] {
    display: flex;
  }
  .navbar[data-layout="center"] {
    justify-content: space-around;
  }
  .navbar[data-layout="split"] {
    justify-content: space-between;
  }
  .nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .nav a {
    text-decoration: none;
    
  }

  .nav-link {
    color: var(--color-link);
  }

  .först:hover{
    background-color: rgb(178, 178, 178) ;
  }

  .andra:hover{
    background-color:  rgb(178, 178, 178);

  }





  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: var(--color-link);
    font-size: inherit;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 0.4rem;
    min-width: 5rem;
    z-index: 1010;
  }
  .dropdown-item {
    padding: .4rem;
  }
  .dropdown-item:hover {
    background-color: wheat;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }